<%= form_with(model: tarefa) do |form| %>
  <% if tarefa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h2>

      <ul>
        <% tarefa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :membro_id %>
    <%= form.collection_select :membro_id, Membro.all, :id, :nome %>
  </div>

  <div class="field">
    <%= form.label :nome, "Nome da Tarefa: " %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descrição: " %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :finalizada, "Tarefa Finalizada?" %>
    <%= form.select :finalizada, [['Sim', true], ['Não', false]], { prompt: 'Selecione' }, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :prioridade, "Prioridade: " %>
    <%= form.select :prioridade,['Baixa', 'Média', 'Alta'], include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
