<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @membro.email %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @membro.nome %>
</p>

<%= link_to 'Editar Membro', edit_membro_path(@membro) %> |
<%= link_to 'Voltar', membros_path %>
